body {
  user-select: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(216, 216, 216) url(/static/bg.jpg);
}

#cfg{
  user-select: none;
}

.temp{
	position: absolute;
	z-index: 999;
	color: #777;
}

/* #cfgmenu{
  margin-top: 100px;
} */