<!DOCTYPE html>
<html lang="en" class=" scrollbar-type-1 sb-cyan">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="static/vendors/metro4/css/metro-all.min.css">
    <link rel="stylesheet" href="static/css/index.css">

    <title>豆瓣电影TOP250网站</title>

</head>
<body class="m4-cloak h-vh-100">
<div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">
    <div class="navview-pane">
        <div class="bg-cyan d-flex flex-align-center">
            <button class="pull-button m-0 bg-darkCyan-hover">
                <span class="mif-menu fg-white"></span>
            </button>
            <h2 class="text-light m-0 fg-white pl-7" style="line-height: 52px">这不是爬虫</h2>
        </div>

        <div class="suggest-box">
            <div class="data-box">
                <img src="static/images/qiyu.jpg" class="avatar">
                <div class="ml-4 avatar-title flex-column">
                    <a href="#" class="d-block fg-white text-medium no-decor"><span class="reduce-1">Braindance</span></a>
                    <p class="m-0"><span class="fg-green mr-2">&#x25cf;</span><span class="text-small">在线</span></p>
                </div>
            </div>
            <img src="static/images/qiyu.jpg" class="avatar holder ml-2">
        </div>

        <div class="suggest-box">
            <button class="holder">
                <span class="mif-search fg-white"></span>
            </button>
        </div>

        <ul class="navview-menu mt-4" id="side-menu">
            <li class="item-header">网站导航</li>
            <li>
                <a href="/index">
                    <span class="icon"><span class="mif-home fg-violet"></span></span>
                    <span class="caption">主页</span>
                </a>
            </li>
            <li>
                <a href="/movie">
                    <span class="icon"><span class="mif-eye fg-blue"></span></span>
                    <span class="caption">电影</span>
                </a>
            </li>
            <li>
                <a href="/score">
                    <span class="icon"><span class="mif-chart-pie fg-green"></span></span>
                    <span class="caption">评分</span>
                </a>
            </li>
            <li>
                <a href="/word">
                    <span class="icon"><span class="mif-cloud fg-yellow"></span></span>
                    <span class="caption">词云</span>
                </a>
            </li>
            <li>
                <a href="/group">
                    <span class="icon"><span class="mif-heart fg-orange"></span></span>
                    <span class="caption">团队</span>
                </a>
            </li>
            

            <li class="item-header">文档</li>
            <li>
                <a href="https://metroui.org.ua/intro.html">
                    <span class="icon"><span class="mif-brightness-auto fg-red"></span></span>
                    <span class="caption">Metro 4</span>
                </a>
            </li>
        </ul>

        <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0">
            <div>&copy; 2019 <a href="mailto:sergey@pimenov.com.ua" class="text-muted fg-white-hover no-decor">Sergey Pimenov</a></div>
            <div>Created with <a href="https://metroui.org.ua" class="text-muted fg-white-hover no-decor">Metro 4</a></div>
        </div>
    </div>

    <div class="navview-content h-100">
        <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white">

            <a href="#" class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>

            <div class="app-bar-container ml-auto">
                <div class="app-bar-container">
                    <a href="#" class="app-bar-item">
                        <img src="static/images/qiyu.jpg" class="avatar">
                        <span class="ml-2 app-bar-name">Braindance</span>
                    </a>
                    <div class="user-block shadow-1" data-role="collapse" data-collapsed="true">
                        <div class="bg-darkCyan fg-white p-2 text-center">
                            <img src="static/images/qiyu.jpg" class="avatar">
                            <div class="h4 mb-0">Braindance</div>
                            <div>兴趣使然</div>
                        </div>
                        <div class="bg-white d-flex flex-justify-between flex-equal-items p-2">
                            <button class="button flat-button">粉丝</button>
                            <button class="button flat-button">关注</button>
                            <button class="button flat-button">好友</button>
                        </div>
                        <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                            <button class="button mr-1">个人信息</button>
                            <button class="button ml-1">退出登录</button>
                        </div>
                    </div>
                </div>
                <a href="#" class="app-bar-item">
                    <span class="mif-cogs"></span>
                </a>
            </div>
        </div>
        <!-- 页面位置 -->
        <div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto">
            <div class="container pt-10 pb-10">
        <h1 class="text-center text-bold">豆瓣电影TOP250</h1>
                <h3 class="text-center">应用Python爬虫、Flas框架、Echarts、WordCloud等技术实现</h3>
        <div class="row">
            <div class="cell-md-6 cell-lg-3 mt-4">
                <a href="/movie" class="no-decor fg-dark text-center h-100">
                    <div class="h-100 border bd-default p-4">
                        <div><span class="mif-map2 mif-10x fg-grayMouse"></span></div>
                        <div class="h4">电影数量</div>
                        <div class="">库中电影数量</div>
                        <hr class="thin bg-gray">
                        <div class="text-bold">{{ data[0] }}</div>
                    </div>
                </a>
            </div>
            <div class="cell-md-6 cell-lg-3 mt-4">
                <a href="/score" class="no-decor fg-dark text-center h-100">
                    <div class="h-100 border bd-default p-4">
                        <div><span class="mif-record_voice_over mif-10x fg-grayMouse"></span></div>
                        <div class="h4">评价人数</div>
                        <div class="">所有电影的评价人数</div>
                        <hr class="thin bg-gray">
                        <div class="text-bold">
                            {{ data[1] }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="cell-md-6 cell-lg-3 mt-4">
                <a href="/word" class="no-decor fg-dark text-center h-100">
                    <div class="h-100 border bd-default p-4">
                        <div><span class="mif-book-reference mif-10x fg-grayMouse"></span></div>
                        <div class="h4">词云</div>
                        <div class="">高频词汇数量</div>
                        <hr class="thin bg-gray">
                        <div class="text-bold">
                            {{ data[2] }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="cell-md-6 cell-lg-3 mt-4">
                <a href="/group" class="no-decor fg-dark text-center h-100">
                    <div class="h-100 border bd-default p-4">
                        <div><span class="mif-organization mif-10x fg-grayMouse"></span></div>
                        <div class="h4">团队</div>
                        <div class="">团队成员</div>
                        <hr class="thin bg-gray">
                        <div class="text-bold">
                            {{ data[3] }}
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <br>
    </div>
        </div>
    </div>
</div>


<!-- jQuery first, then Metro UI JS -->
<script src="static/vendors/jquery/jquery-3.4.1.min.js"></script>
<script src="static/vendors/chartjs/Chart.bundle.min.js"></script>
<script src="static/vendors/qrcode/qrcode.min.js"></script>
<script src="static/vendors/jsbarcode/JsBarcode.all.min.js"></script>
<script src="static/vendors/ckeditor/ckeditor.js"></script>
<script src="static/vendors/metro4/js/metro.min.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>