<!DOCTYPE html>
<html lang="en" class=" scrollbar-type-1 sb-cyan">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="referrer" content="never"> <!-- 不添加refer信息-->
    <!-- Metro 4 -->
    <link rel="stylesheet" href="static/vendors/metro4/css/metro-all.min.css">
    <link rel="stylesheet" href="static/css/index.css">

    <title>豆瓣电影TOP250电影列表</title>



</head>
<body class="m4-cloak h-vh-100">
<div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">
    <div class="navview-pane">
        <div class="bg-cyan d-flex flex-align-center">
            <button class="pull-button m-0 bg-darkCyan-hover">
                <span class="mif-menu fg-white"></span>
            </button>
            <h2 class="text-light m-0 fg-white pl-7" style="line-height: 52px">这不是爬虫</h2>
        </div>

        <div class="suggest-box">
            <div class="data-box">
                <img src="static/images/qiyu.jpg" class="avatar">
                <div class="ml-4 avatar-title flex-column">
                    <a href="#" class="d-block fg-white text-medium no-decor"><span class="reduce-1">Braindance</span></a>
                    <p class="m-0"><span class="fg-green mr-2">&#x25cf;</span><span class="text-small">在线</span></p>
                </div>
            </div>
            <img src="static/images/qiyu.jpg" class="avatar holder ml-2">
        </div>

        <div class="suggest-box">
            <button class="holder">
                <span class="mif-search fg-white"></span>
            </button>
        </div>

        <ul class="navview-menu mt-4" id="side-menu">
            <li class="item-header">网站导航</li>
            <li>
                <a href="/index">
                    <span class="icon"><span class="mif-home fg-violet"></span></span>
                    <span class="caption">主页</span>
                </a>
            </li>
            <li>
                <a href="/movie">
                    <span class="icon"><span class="mif-eye fg-blue"></span></span>
                    <span class="caption">电影</span>
                </a>
            </li>
            <li>
                <a href="/score">
                    <span class="icon"><span class="mif-chart-pie fg-green"></span></span>
                    <span class="caption">评分</span>
                </a>
            </li>
            <li>
                <a href="/word">
                    <span class="icon"><span class="mif-cloud fg-yellow"></span></span>
                    <span class="caption">词云</span>
                </a>
            </li>
            <li>
                <a href="/group">
                    <span class="icon"><span class="mif-heart fg-orange"></span></span>
                    <span class="caption">团队</span>
                </a>
            </li>
            

            <li class="item-header">文档</li>
            <li>
                <a href="https://metroui.org.ua/intro.html">
                    <span class="icon"><span class="mif-brightness-auto fg-red"></span></span>
                    <span class="caption">Metro 4</span>
                </a>
            </li>
        </ul>

        <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0">
            <div>&copy; 2019 <a href="mailto:sergey@pimenov.com.ua" class="text-muted fg-white-hover no-decor">Sergey Pimenov</a></div>
            <div>Created with <a href="https://metroui.org.ua" class="text-muted fg-white-hover no-decor">Metro 4</a></div>
        </div>
    </div>

    <div class="navview-content h-100">
        <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white">

            <a href="#" class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>

            <div class="app-bar-container ml-auto">
                <div class="app-bar-container">
                    <a href="#" class="app-bar-item">
                        <img src="static/images/qiyu.jpg" class="avatar">
                        <span class="ml-2 app-bar-name">Braindance</span>
                    </a>
                    <div class="user-block shadow-1" data-role="collapse" data-collapsed="true">
                        <div class="bg-darkCyan fg-white p-2 text-center">
                            <img src="static/images/qiyu.jpg" class="avatar">
                            <div class="h4 mb-0">Braindance</div>
                            <div>兴趣使然</div>
                        </div>
                        <div class="bg-white d-flex flex-justify-between flex-equal-items p-2">
                            <button class="button flat-button">粉丝</button>
                            <button class="button flat-button">关注</button>
                            <button class="button flat-button">好友</button>
                        </div>
                        <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                            <button class="button mr-1">个人信息</button>
                            <button class="button ml-1">退出登录</button>
                        </div>
                    </div>
                </div>
                <a href="#" class="app-bar-item">
                    <span class="mif-cogs"></span>
                </a>
            </div>
        </div>
    <!-- 页面位置 -->
        <div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto">
        <h4 class="text-bold">豆瓣电影TOP250</h4>
            <div class="bg-white cell-12">
                <table class="table striped row-hover cell-border compact"
                       data-role="table"
                       data-rows="10"
                       data-cell-wrapper="false"
                       data-pagination-prev-title="上一页"
                       data-pagination-next-title="下一页"
                       data-cls-table-pagination="pagination success rounded"
                       data-horizontal-scroll="true"
                >
                <thead>
                <tr class="h-50">
                    <th>排名</th>
                    <th>海报</th>
                    <th>中文名</th>
                    <th>外文名</th>
                    <th>评分</th>
                    <th>评价人数</th>
                    <th>简介</th>
                    <th>其他信息</th>
                </tr>
                </thead>
                    <tbody>
                        {% for movie in movies %}
                        <tr>
                        <td>{{ movie[0] }}</td>
                        <td>
                            <a href="{{ movie[4] }}" target="_blank"><img src="{{ movie[4] }}"style="width: 160px;"></a>
                        </td>
                        <td><a href="{{ movie[1] }}" style="text-decoration: none">{{ movie[2] }}</a></td>
                        <td>{{ movie[3] }}</td>
                        <td>{{ movie[5] }}</td>
                        <td>{{ movie[6] }}</td>
                        <td>{{ movie[7] }}</td>
                        <td>{{ movie[8] }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- jQuery first, then Metro UI JS -->
<script src="static/vendors/jquery/jquery-3.4.1.min.js"></script>
<script src="static/vendors/chartjs/Chart.bundle.min.js"></script>
<script src="static/vendors/qrcode/qrcode.min.js"></script>
<script src="static/vendors/jsbarcode/JsBarcode.all.min.js"></script>
<script src="static/vendors/ckeditor/ckeditor.js"></script>
<script src="static/vendors/metro4/js/metro.min.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>